@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

*{
   font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"width" 100;
    margin: 0;
}
#container{
    width: 95%;
    margin: auto;
    height: auto;
    /* border-style: solid; */
    /* background-color: grey; */
}
#header{
    height: 60px;
    padding: 5px;
    background-color: white;
}
#header_left{
        height: 60px;
    width: 25%;
    /* background-color: green; */
    float: left;
}
#logo{
    height: 45px;
    padding: 10px;
}
#heading{
    font-size: 24px;
    margin-top: 18px;
    margin-left: 5px;
    position: absolute;
    color: black;
}
#nav{
    height: 60px;
    width: 75%;
    /* background-color: blue; */
    float:left;
}
#nav ul{
    list-style: none;
    padding-top: 20px;
}
#nav ul li{
    display: inline;
}
#nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-left: 45px;
}
#nav ul li a:hover{
    color: darkorange;
}