@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

*{
   font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"width" 100;
}
body{
    background: url('../images/banner.jpg');
    background-size: cover;
}
#box{
    height:auto;
    width: 400px;
    background-color: rgba(255,255,255,0.3);
    margin-left: 490px;
    margin-top: 70px;
    border-radius: 20px;
}
#username,#email,#password,.sub{
    background: url('../images/user_icon.png');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    padding-left: 28px;
    height: 30px;
    width: 270px;
    margin: 3px;
    margin-left: 45px;
    font-size: 16px;
    text-align: center;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: black;
    border-bottom-width: 1px;
    border-bottom-color: black;
    outline: 0px;
}
::placeholder{
    color:black;
}
#subject{
    height: 40px;
    width:305px;
}
input[type="submit"],input[type="reset"]{
    height: 34px;
    width:305px;
    margin: 3px;
    margin-left: 45px;
    font-size: 16px;
    text-align: center;
    border-width: 0px;
    background-color: #310e00;
    color:white;
    border-radius: 20px;
}