*{
    margin: 0;
    background-color: grey;
}
#left{
    width: 25%;
    background-color: lightgrey;
    height: 672px;
    float: left;
    position: fixed;
}
#right{
    width: 75%;
    background-color: grey;
    height: auto;
    float: left;
    margin-left: 25%;
}
#header{
    height: 300px;
    /* border-style: solid; */
}
#banner{
    height: 300px;
    width: 100%;
}
#circle{
    height: 140px;
    width: 140px;
    /* border-style: solid; */
    margin-left: 80px;
    margin-top: -70px;
    border-radius: 50%;
    background-color: red;
}
#logo{
    height: 140px;
    width: 140px;
    border-radius: 50%;
}
#box{
    width: 80%;
    height: 160px;
    background-color: lightgrey;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
}
fieldset{
    width: 55%;
    margin: 17px;
    position: absolute;
    margin-top: 30px;
    border-style: solid;
    border-color: #234567;
    border-width: 8px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    background-color: white;
}