*{
    margin: 0;
}
#container{
    height: auto;
}
#header{
    height: 300px;
    /* border-style: solid; */
}
#banner{
    height: 300px;
    width: 100%;
}
#circle{
    height: 140px;
    width: 140px;
    /* border-style: solid; */
    margin-left: 80px;
    margin-top: -70px;
    border-radius: 50%;
    background-color: red;
}
#logo{
    height: 140px;
    width: 140px;
    border-radius: 50%;
}
#section{
    height: 100px;
    width: 900px;
    margin: auto;
    margin-top:30px;
    /* border-style: solid; */
}
#txt{
    height:40px;
    width:550px;
    font-size: 16px;
    text-align: center;
    margin-top: 26px;
    margin-left: 40px;
    border-radius: 10px 0px 0px 10px;
       box-shadow: 1px 1px 80px 1px black;

}
#btn{
    height:46px;
    width:250px;
    font-size: 16px;
    text-align: center;
    margin-top: 26px;
    border-width: 0px;
    margin-left: -5px;
    background-color: brown;
    color:white;
        border-radius: 0px 10px 10px 0px;
    box-shadow: 1px 1px 80px 1px black;
    }
#btn:hover{
    background-color: #234567;
}
